    <section class="mb-4">
      <h2 class="h1-responsive font-weight-bold text-center my-4">Team</h2>
      <p class="text-center w-responsive mx-auto mb-5">Voici la séction team :</p>

      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <div class="md-form mb-0">

            </div>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <ul class="list-unstyled mb-0">
            <li><i class="fas fa-map-marker-alt fa-2x"></i>
              <p>TCHINDA Adrien</p>
            </li>

            <li><i class="fas fa-phone mt-4 fa-2x"></i>
              <p>SAÏD BAKAR Jawaad</p>
            </li>

            <li><i class="fas fa-envelope mt-4 fa-2x bd"></i>
              <p>YAMDJEU Yannick</p>
            </li>
            <li><i class="fas fa-envelope mt-4 fa-2x"></i>
              <p>TEIXEIRA Claudio</p>
            </li>
            <li><i class="fas fa-envelope mt-4 fa-2x"></i>
              <p>TEBOUL Nathan</p>
            </li>
            <li><i class="fas fa-envelope mt-4 fa-2x"></i>
              <p>TOUPART Balthazar</p>
            </li>
          </ul>
        </div>
      </div>
    </section>

